/* 
    OPEN SOURCE CSS ANIMATION BY ANKIT
*/

:root {
    --animate-duration: 2s;
    --animate-delay: 1s;
    --animate-repeat: 1
}

.animate {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-duration: var(--animate-duration);
    animation-duration: var(--animate-duration);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.animate-delay-1s {
    animation-delay: 1s !important
}

.animate-delay-3s {
    animation-delay: 3s !important
}

@keyframes fadeInF1 {
    0% {
    left: 0;
    opacity: 0;
    }

    50% {
    margin-left: -9.5rem;
    }

    100% {
        margin-left: -9.5rem;
        transform: rotate(0deg);
        left: 18rem;
        opacity: 1;
    }
}

@keyframes fadeInF2 {
    0% {
    left: 0;
    opacity: 0;
    }

    50% {
    /* margin-left: -9.5rem; */
    transform: scale(2);
    }

    100% {
        margin-left: -9.5rem;
        transform: rotate(0deg);
        left: 18rem;
        opacity: 1;
    }
}

.fadeInF1 {
    margin-left: -14rem;
    margin-top: 16rem;
    position: absolute;
    transform: rotate(90deg);
    top: 0;
    left: 0;
    animation-name: fadeInF2;
}

@keyframes profile_animation {
    0% {
        opacity: 0;
        left: -10rem;
    }

    40% {
        opacity: 0.6;
    }

    80% {
        border-radius: 0%;
        filter: grayscale(10) blur(2px);
    }

    100% {
        opacity: 1;
        left: 0;
        top: 0;
        margin-top: 10px;
        border-radius: 50%;
        margin-left: 10px; 
        transform: scale(1);
    }
}

.animate.profile-anim {
    position: absolute;
    width: 200px; height: 200px;
    animation-name: profile_animation;
}

@keyframes fadeIn-N {
    from {opacity: 0;}
    to {opacity: 1;}
}

.animate.fadeIn-normal {
    animation-name: fadeIn-N;
}

/* spin border */
@keyframes spinB {
    0% {
        border-top: solid #fff 5px;
    border-left: solid #000 5px;
    border-right: solid #000 5px;
    border-bottom: solid #fff 5px;
    transform: scale(2);
    filter: contrast(.5) brightness(.5);
    opacity: 0;
    }
    50% {
        border-left: solid #fff 15px;
    border-top: solid #000 15px;
    border-bottom: solid #000 15px;
    border-right: solid #fff 15px;
    transform: scale(.5);
    filter: brightness(2) contrast(2);
    opacity: .4;
}
    100% {
        border-top: solid #fff 5px;
    border-left: solid #000 5px;
    border-right: solid #000 5px;
    border-bottom: solid #fff 5px;
    transform: scale(1);
}
}
.spin-border {
    animation-name: spinB;
    animation-delay: 1s;
    animation-duration: 3s !important;
}

@keyframes bgIm {
    0% {
        filter: brightness(1.2) hue-rotate(45deg)
    }
    100% {
        filter: brightness(.7);
    }
}

/* .bg-profile {
    animation-name: bgIm;
    animation-delay: 1s;
    animation-duration: 5s !important;
    filter: brightness(.5) contrast(1.5);
} */

@-webkit-keyframes bounce {
    0% {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    40% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -30px, 0);
      transform: translate3d(0, -30px, 0);
    }
  
    /* 70% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -15px, 0);
      transform: translate3d(0, -15px, 0);
    } */
  
    90% {
      -webkit-transform: translate3d(0, -4px, 0);
      transform: translate3d(0, -4px, 0);
    }
  }
  
  @keyframes bounce {
    0%{
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    
    40%{
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
        filter: brightness(.8)
    }
  
    /* 70% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -15px, 0);
      transform: translate3d(0, -15px, 0);
    } */
  
    90% {
      -webkit-transform: translate3d(0, -4px, 0);
      transform: translate3d(0, -4px, 0);
    }
  }
  
  .bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
  }

  @keyframes fadeIn {
    from {
        opacity: 0;
        visibility: hidden;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
  }

  .fadeIn {
    animation-name: fadeIn;
  }

  @keyframes fadeOut {
    from {
        opacity: 1;
        visibility: visible;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
  }